.hotel-layout--wrapper{
  .hotel-listing__header{
    height : 42px;

    &__header{
      background-color: var(--color-black-2);
      display:flex;
      margin:0 auto;

      &__icons{
        display:flex;
        align-items:center;
        height:100%;
        margin-left:5px;

        .header--control{
          width:15px;
          height:15px;
          margin-left:10px;
          border-radius:50%;
          background-color: var(--color-black-1);
        }
      }

      .header--title{
        margin: auto;
        color: var(--color-white-1);
      }
    }
  }
}
