.card-date__container{
  border:1.5px solid var(--color-black-2);
  max-height:70%;
  padding-block:15px;
  padding-inline:7px;
  .card--info{
    display:flex;
    flex-direction:column;
    overflow:auto;
    height:100%;

    &__label{
      margin-top:10px;
    }
  }

  .card-title{
    font-weight:bold;
  }

  .city-name{
    text-transform: capitalize;
  }
}
