:root {
  //Black
  --color-black-1 : #666666;
  --color-black-2 : #424242;
  //Gray
  --color-gray-1 : #B6B6B6;
  --color-gray-2 : #CCCCCC;
  --color-gray-3 : #918e8e;
  --color-gray-4 : #666666;
  --color-gray-5 : #999999;


  //White
  --color-white-1 : #FEFEFE;
  --color-white-2 : #FFFFFF;

  //Blue
  --color-blue-1 : #1183d6;

  //FontSize
  --font-size-14 : 14px;
}
